<div class="small-12 medium-6 columns">
	<div class="callout clearfix">
		<div data-equalizer-watch>
			<h3 class="sans">
				Digital sparring <span class="show-for-small-only"><img src="/assets/img/cloud_icon.png" style="height:40px;" /></span>
			</h3>
			<h5>
				Når du vil se nye muligheder
			</h5>
			<p>
				En snak med én udefra er ofte det, der skal til, for at få tanker og idéer til at falde på plads. Digital sparring med mig er en uformel og frigjort snak med en digital ekspert om strategi og den digitale udvikling af din virksomhed. Den er en fortrolig samtale om dine aktuelle udfordringer, om det du har tænkt på, og om de muligheder og problemer det rummer.
			</p>
			<p>
				Den giver dig et perspektiv udefra, så du ser muligheder, som du ellers ikke ville se. Ofte skal der ikke mere end en halv til et par timer til, for at du har en klar idé om, hvad dine næste skridt skal være. Det vil hjælpe dig til at afklare, hvordan du skal tackle digitaliseringen i forhold til dine kunder, dine konkurrenter og i din organisation.
			</p>
			<p>
				Og hvilken type samarbejdspartner, du skal skal involvere dig med!
			</p>
		</div>
		<a href="#" class="button hollow">Book digital sparring - eller læs mere</a>
	</div>
</div>
