<div class="small-12 medium-6 columns">
	<div class="callout clearfix">
		<div data-equalizer-watch>
			<h3 class="sans uc">
				Strategisk og digital partnerskab
			</h3>
			<h5>
				Få tingene gjort - ordentligt!
			</h5>
			<p>
				Tænk på mig som din strategiske partner med alt det digitale. Når der skal skabes nye og bedre digitale services, produkter og sammenhænge, handler det om, at få tingene gjort ordentligt!
			</p>
			<p>
				Som strategisk partner og projektleder for alt det digitale har jeg mere end 15 års hands-on-erfaring med produktion, ledelse og rådgivning indenfor alle områder af det digitale felt og web – strategisk, kreativt, kommunikativt og teknisk.
			</p>
			<p>
				Det betyder at du får prioriteret og skåret ind til benet for at skabe den optimale balance og sammenhæng imellem brugeroplevelsen, kommunikation, udtryk, teknik – og din økonomi.
			</p>
		</div>
		<a href="#" class="button hollow">Hør om strategisk digitalt partnerskab</a>
	</div>
</div>
