<div class="small-12 columns">
	<h2>
		Strategisk og digital partnerskab
	</h2>
</div>
<div class="small-12 medium-6 columns">
	<h3>
		Få tingene gjort - ordentligt!
	</h3>
	<p>
		Tænk på mig som din strategiske partner med alt det digitale. Når der skal skabes nye og bedre digitale services, produkter og sammenhænge, handler det om, at få tingene gjort ordentligt! Som strategisk partner og projektleder for alt det digitale har jeg mere end 15 års hands-on-erfaring med produktion, ledelse og rådgivning indenfor alle områder af det digitale felt og web – strategisk, kreativt, kommunikativt og teknisk. Det gør mig i stand til at prioritere og skære ind til benet for at skabe den optimale balance og sammenhæng imellem brugeroplevelsen, kommunikation, udtryk, teknik – og din økonomi.
	</p>
</div>
