<div class="small-12 medium-6 columns digitalt-partnerskab">
	<div class="clearfix">
		<div class="row" data-equalizer-watch>
			<div class="small-12 medium-5 large-4 columns">
				<img src="/assets/img/termometer-new.tosti.info.png" alt="termometer-new.tosti.info" />
			</div>
			<div class="small-12 medium-7 large-8 columns">
				<h3>
					Strategisk og digital partnerskab
				</h3>
				<h5>
					Få tingene gjort - ordentligt!
				</h5>
				<p>
					Når der skal skabes nye eller bedre digitale services og produkter handler det om, at få tingene gjort ordentligt!
				</p>
				<p>
				</p>
				<a href="#" class="button hollow">Hør mere om strategisk digitalt partnerskab</a>
			</div>
		</div>
	</div>
</div>