<div class="small-12 medium-6 columns">
	<div class="callout clearfix">
		<div data-equalizer-watch>
			<h3 class="sans">
				Tag den digitale temperatur på din organisation!
			</h3>
			<p>
				Tænker I forretningen digitalt? Tænker I sammenhæng mellem digitalt og fysisk? </p>
			<p>Er I i stand til at sætte jer i kundernes og brugernes sted?</p>
			<p>
				En digital temperaturmåling af din organisation fortæller, hvad der skal til for at både du og din organisation er på digital højkant, så I kan møde kunderne, hvor de er.
			</p>
		</div>
		<a href="#" class="button hollow">Få et digitalt sundhedstjek</a>
	</div>
</div>
