<hr/>
<div class="small-12 columns">
	<h2>
		Digital Sparring
	</h2>
</div>
<div class="small-12 medium-6 columns">
	<h3>
		Når du vil se nye muligheder
	</h3>
	<p>
	En snak med én udefra er ofte det, der skal til, for at få tanker og idéer til at falde på plads. Digital sparring med mig er en uformel og frigjort snak med en digital ekspert om den digitale udvikling af din virksomhed. En fortrolig samtale om dine aktuelle udfordringer, om det du har tænkt på, og de muligheder og problemer det rummer. Den giver dig et perspektiv udefra, så du ser muligheder, som du ellers ikke ville se.
	</p>
</div>
