<div class="small-12 medium-6 columns digital-sparring">
		<div class="clearfix">
			<div class="row" data-equalizer-watch>
				<div class="small-12 medium-5 large-4 columns">
					<img src="/assets/img/termometer-new.tosti.info.png" alt="termometer-new.tosti.info" />
				</div>
				<div class="small-12 medium-7 large-8 columns">
					<h3>
						Digital sparring
					</h3>
					<p>
						En snak med én udefra er ofte det, der skal til, for at få tanker og idéer til at falde på plads.</p>
					<a href="#" class="button">Book digital sparring - eller læs mere</a>
				</div>
			</div>
		</div>
	</div>