<div class="small-12 medium-6 columns">
	<div class="callout clearfix">
		<div data-equalizer-watch>
			<h3 class="sans uc baseline clearfix">
				<span class="float-left">Digital sparring</span> <span class="show-for-small-only1 float-right"><img id="icon-digital-sparring" src="/assets/img/cloud_icon.png" /></span>
			</h3>
			<h5>
				Når du vil se nye muligheder!
			</h5>
			<p>
				En snak med én udefra er ofte det, der skal til, for at få tanker og idéer til at falde på plads. Digital sparring er en uformel og frigjort snak med en digital ekspert om strategi og den digitale udvikling af din virksomhed. En fortrolig samtale om dine aktuelle udfordringer, om det du har tænkt på, og om de muligheder og problemer det rummer.
			</p>
			<p>
				Du får et perspektiv udefra, så du ser muligheder, som du ellers ikke ville se. Ofte er en halv til et par timer nok til, at du har en klar idé om, hvad dine næste skridt skal være. Det vil hjælpe dig til at afklare, hvordan du skal tackle digitaliseringen i forhold til dine kunder, dine konkurrenter og i din organisation.
			</p>
			<p>
				Og hvilken type samarbejdspartner, du skal skal involvere dig med!
			</p>
		</div>
		<a href="#" class="button hollow" data-toggle="modal-digital-sparring">Book digital sparring - eller læs mere</a>
		<p><a data-toggle="exampleModal12">Click me for a modal</a></p>
	</div>
</div>

<!--modals-->
{{> modal-digital-sparring}}