<h2 class="text-center">
	<span> Om mig </span>
</h2>
<div class="row" data-equalizer data-equalize-on="medium">
	<div class="small-12 medium-6 columns" data-equalizer-watch>
		<p>
			<img src="/assets/img/Mikael2014-300x200.png" alt="Mikael2014-300x200" />
		</p>
		<p>
			Mikael Tosti
		</p>
		<p>
			Jeg har mere end 15 års erfaring som selvstændig indenfor digital strategi, design, forretningsudvikling, kommunikation og markedsføring.
		</p>
	</div>
	<div class="small-12 medium-6 columns" data-equalizer-watch>

		<p>
			I kraft af mit arbejde med mange forskellige typer virksomheder og projekter har jeg erfaring fra mange kulturer og god indsigt og indføling i andres organisatoriske og forretningsmæssige situation og struktur, hvilket ikke mindst kommer mig til gode i forståelsen af kundernes potentiale på de digitale platforme.
		</p>
		<p>
			Jeg har en Ph.D. i digital design og innovation med fokus på de forandringer digitale værktøjer medfører. Jeg har desuden undervist og vejledt i webudvikling, innovation og kreativitet.
		</p>
	</div>
</div>
