<div class="row" data-equalizer>
	<div class="small-12 columns text-center">
		<h2>
			<span>Samarbejdet</span>
		</h2>
		<p>

		</p>
	</div>
	<div class="small-12 medium-6 columns">
		<div class="callout clearfix">
			<div data-equalizer-watch>
				<h3>
					Hvornår er vi et godt match?
				</h3>
				<p>
					Uanset hvor I er henne digitalt, kan jeg hjælpe jer med relevant og optimal digital udvikling. Jeg har erfaring med mange typer og størrelser virksomhed og forståelse for mange forskellige kulturer. Netop forståelsen af din forretning og dine brugere - om det så er kunder, medlemmer eller ansatte – er en klar forudsætning for et godt udbytte af vores samarbejde.
				</p>
			</div>
			<a href="#" class="button hollow">Få et digitalt sundhedstjek</a>
		</div>
	</div>
	<div class="small-12 medium-6 columns">
		<div class="callout clearfix">
			<div data-equalizer-watch>
				<h3>
					Vores samarbejde er personligt!
				</h3>
				<p>
					Det betyder, at jeg vil være tæt på din virksomhed. Vi vil have et nært samarbejde og en god kommunikation i en proces, hvor vi cirkulært udvikler jeres digitale univers og sammenhængen med det fysiske. Som din digitale partner skal jeg også udfordre og provokere på en konstruktiv måde for at hjælpe dig ud af komfortzonen og forbi den usikkerhed, man kan have – så du i stedet ser muligheder, du ellers ikke ville. Og hvis det er første gang, vi arbejder sammen, vil jeg næsten altid foreslå, at vi lægger ud med en mindre del af projektet, så vi så tidligt som muligt får erfaringer med hinanden og den vej vi går.
				</p>
			</div>
			<a href="#" class="button hollow">Få et digitalt sundhedstjek</a>
		</div>
	</div>
</div>
