 <h2 class="text-center">
	<span> Services </span>
</h2>
<p>Gennem de seneste 16 år har mit arbejde med alle aspekter af webudvikling for både store og små virksomheder netop givet mig den forretningsforståelse og brede erfaring med digitale løsninger, som I lægger vægt på i stillingsopslaget. Det betyder også, at jeg har et godt kendskab til mange forskellige typer virksomheder og organisationer, ligesom det er naturligt for mig at have en tæt og tillidsfuld dialog med kunderne på alle niveauer.<!--

	Jeg har den erfaring, der skal til, for at tage udgangspunkt i din forretning eller organisation, når dine kunder, ansatte eller medlemmer skal sættes i centrum i dit digitale projekt. Det betyder, at vi kan skabe den optimale balance og sammenhæng imellem brugeroplevelsen, udtrykket, teknikken – og din økonomi.
 -->
</p>

<div class="small-12 columns text-center">
	<h4>
		<em>[ Strategi og udvikling ]</em>
	</h4>
</div>
<div data-equalizer>
	{{> digital-sparring-small2}} {{> digitalt-partnerskab-small2}}
</div>
<div class="small-12 columns text-center">
	<h4>
		<em>[ Digitalt sundhedstjek ]</em>
	</h4>
</div>
<div data-equalizer>
	{{> digitalt-sundhedstjek-small2a}} {{> digitalt-sundhedstjek-small2b}}
</div>
