 <h2 class="text-center">
	<span> Teamet </span>
</h2>
<h3>
	De vigtigste medlemmer af teamet findes ofte i virksomheden
</h3>
<p>
	Det faktum bliver ofte overset, men det betyder alverden for et projekt, at det er godt forankret i virksomheden. Og at du og dine medarbejderne får den nødvendige uddannelse og undervisning for at kunne drive digitaliseringen i dagligdagen.
</p>
<p>
	Jeg er vant til at tale strategi og økonomi med ledelsen og også til at yde support 'på gulvet', så jeg taler ubesværet med alle i virksomheden. Samtidig har jeg gennem arbejdet med både store og små virksomheder fået indsigt og forståelse for mange forskellige typer virksomheder, organisationer og kulturer. Det betyder, at jeg kan møde jer, der hvor I er!
</p>
<h3>
	Netværk
</h3>
<p>
	Jeg har ikke længere ansatte, men arbejder istedet med et netværk af folk, der varierer afhængig af behovene i det enkelte projekt. Det betyder, at jeg kan sammensætte det team, der er behov for, uden at skulle håndtere ubrugte ressourcer. Jeg arbejder også gerne sammen med andre konsulenter og bureauer. Har du således allerede gang i et projekt, går jeg også gerne ind i et projekt for kortere eller længere tid, hvis du har brug for en frisk vinkel eller blot en vurdering eller råd udefra.
</p>