<div class="row" data-equalizer>
	<div class="small-12 columns">
		<h2 class="text-center">
			<span> Teamet </span>
		</h2>
		<div class="small-12 medium-6 columns">
			<div class="callout clearfix">
				<div data-equalizer-watch>
					<h3>
						De vigtigste medlemmer af teamet findes ofte i virksomheden
					</h3>
					<p>
						Det faktum bliver ofte overset, men det betyder alverden for et projekt, at det er godt forankret i virksomheden. Og at du og dine medarbejderne får den nødvendige uddannelse og undervisning for at kunne drive digitaliseringen i dagligdagen.
					</p>
					<p>
						Jeg er vant til at tale strategi og økonomi med ledelsen og også til at yde support 'på gulvet', så jeg taler ubesværet med alle i virksomheden. Samtidig har jeg gennem arbejdet med både store og små virksomheder fået indsigt og forståelse for mange forskellige typer virksomheder, organisationer og kulturer. Det betyder, at jeg kan møde jer, der hvor I er!
					</p>
					<h3>
						Netværk
					</h3>
					<p>
						Jeg har ikke længere ansatte, men arbejder istedet med et netværk af folk, der varierer afhængig af behovene i det enkelte projekt. Det betyder, at jeg kan sammensætte det team, der er behov for, uden at skulle håndtere ubrugte ressourcer. Jeg arbejder også gerne sammen med andre konsulenter og bureauer. Har du således allerede gang i et projekt, går jeg også gerne ind i et projekt for kortere eller længere tid, hvis du har brug for en frisk vinkel eller blot en vurdering eller råd udefra.
					</p>
				</div>
				<a href="#" class="button hollow"></a>
			</div>
		</div>
		<div class="small-12 medium-6 columns">
			<div class="callout clearfix">
				<div data-equalizer-watch>
					<h3>
						Om mig
					</h3>
					<p>
						Jeg har mere end 15 års erfaring som selvstændig indenfor digital strategi, design, forretningsudvikling, kommunikation og markedsføring for en længere række af både store og mindre kunder, hvoraf flere har været langvarige relationer, der har strakt sig over mere end 10 år, f.eks. Carlsberg Danmark A/S og Indasia A/S. Jeg har undervejs haft flere ansatte. Ligeledes har jeg selv i perioder haft ansættelse i andre virksomheder samt i perioder arbejdet i Mexico, Peru, Polen og Frankrig. Jeg har ofte samarbejdet med andre konsulent- og reklamebureauer.
					</p>
					<p>
						I kraft af mit arbejde med mange forskellige typer virksomheder og projekter har jeg erfaring fra mange kulturer og god indsigt og indføling i andres organisatoriske og forretningsmæssige situation og struktur, hvilket ikke mindst kommer mig til gode i forståelsen af kundernes potentiale på de digitale platforme. Jeg har desuden en Ph.D. i digital design og interaktion med fokus på, hvordan de forskellige digitale værktøjer forandrer vores forhold til det materiale eller de mennesker, vi nu engang arbejder med. Som ekstern lektor på Aalborg Universitet har jeg desuden undervist og vejledt i webudvikling (design og programmering) og innovation/kreativitet samt deltaget i udviklingsprojekter på den mobile platform.
					</p>
				</div>
				<a href="#" class="button hollow"></a>
			</div>
		</div>
	</div>
</div>
